<%= form_for( @audio, html: { :multipart => true } ) do |f| %>
  <% if @audio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@audio.errors.count, "error") %> prohibited this audio from being saved:</h2>

      <ul>
      <% @audio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <%= f.file_field :mp3 %>
  <%= f.hidden_field :user_id, { value: current_user.id} %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
